@{
    ViewData["Title"] = "Home";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Home/HomePage.css" />
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/js/HomePage.js"></script>
</head>
<div id="movie-list"></div>
