.favorite-button {
    color: white;
    font-size: 15px;
    font-family: Tahoma;
    border: 0px;
    border-radius: 30px;
    width: 80%;
    height: 50px;
    box-shadow: 0px 0px 20px #23B298;
    background-color: #23B298;
    margin: 15px 10% 5px 10%;
    transition: 0.5s ease;
    text-align: center;
    text-decoration: none;
    line-height: 50px
}

    .favorite-button:hover {
        box-shadow: 0px 0px 25px #23B2AC;
        background-color: #23B2AC;
        transform: scale(1.03);
        cursor: pointer;
    }

.favorite-button-delete, .delete-admin-button {
    color: white;
    font-size: 15px;
    font-family: Tahoma;
    border: 0px;
    border-radius: 30px;
    width: 80%;
    height: 50px;
    box-shadow: 0px 0px 20px #CC3844;
    background-color: #CC3844;
    margin: 15px 10% 5px 10%;
    transition: 0.5s ease;
}

    .favorite-button-delete:hover, .delete-admin-button:hover {
        box-shadow: 0px 0px 25px #CC1426;
        background-color: #CC1426;
        transform: scale(1.03);
    }