

.comment-container {
    width: 100%;
    margin-top: 10px;
    background-color: lightgray;
    /*for some reason one line padding is lagging*/
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    word-break: break-all;
}

.comment-content{

}