@{
    ViewData["Title"] = "Forgot Password";
}
 
<h2>@ViewData["Title"]</h2>
<p>
    To reset your password, follow the link in the email sent to your email.<br>If the email is missing, try checking for spam.
</p>