@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<head>
    <link rel="stylesheet" href="~/css/Account/AuthForms.css" />
</head>
<div class="div-body">
    <div class="auth-title">
        @ViewData["Title"]
    </div>
    <div class="auth-form">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="ForgotPassword">
            <p class="forgot-password">Forgot password?</p>
        </a>
    </div>
</div>