@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<head>
    <link rel="stylesheet" href="~/css/Account/Profile.css" />
    <title>@ViewData["Title"]</title>
    <script src="~/js/ProfilePage.js"></script>
</head>

<div class="content-holder">
    <h1>Profile</h1>
    <div class="user-info">
        <p>Username: @Model.UserName</p>
        <p>Email: @Model.Email</p>
    </div>
    @if (Model.Banned)
    {
        <p class="banned-text">
            This profile is banned - all your comments are deleted and you cannot publish new comments.
        </p>
    }
    @if (Model.Favourites.Any())
    {
        <h3>
            Favourites list:
        </h3>
        <div class="favourite-holder">
            @foreach (var movie in Model.Favourites)
            {
                <a href="/Movies/Get/@movie.MovieId" style="text-decoration:none">
                    <div class="favourite-movie">
                        @movie.Movie.Name
                    </div>
                </a>
            }
        </div>
    }
    @if (User.IsInRole("Admin") && !Model.IsAdmin)
    {
        if(!Model.Banned)
        {
            <button 
                value=@Model.Id 
                onclick="ban_user(this.value)"
                class="user-button ban"> 
                    Ban user
            </button>
        }
        else
        {
            <button 
                value=@Model.Id 
                onclick="ban_user(this.value)"
                class="user-button unban"> 
                    Unban user
            </button>
        }
    }
</div>