html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand-logo{
    background-image: url('../img/Layout/MainLogo.png');
    background-size:contain;
    background-repeat: no-repeat;
    height: 45px;
    width: 60px;
    margin: 5px;
}

.log-in-button-nav {
    padding: 8px;
    border: 2px solid #23B298;
    transition: 0.3s ease;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
    margin: 3px 5px 3px 0px;
}

.log-in-button-nav-p {
    transition: 0.3s ease;
    border-radius: 7px;
    text-align: center;
    margin: -3px;
    color: #23B298;
}

.register-button-nav {
    padding: 10px;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
    background: linear-gradient(45deg, #23B2AC, #5D78FF);
    margin: 3px 5px 3px 0px;
}

    .register-button-nav:hover {
        background: linear-gradient(45deg, #5D78FF, #23B2AC);
    }

.register-button-nav-p {
    transition: 0.3s ease;
    border-radius: 7px;
    text-align: center;
    margin: -3px;
    color: white;
}

.log-out-button-nav {
    min-width: 100px;
    padding: 7px 20px 7px 20px;
    background-color: white;
    color: #23B298;
    border: 2px solid #23B298;
    transition: 0.3s ease;
    border-radius: 20px;
    margin: 3px 5px 3px 0px;
    width:100%;
}

    .log-out-button-nav:hover {
        color: white;
        background-color: #23B298;
    }

.user-link {
    border-radius: 20px;
    margin-right: 10px;
    padding: 7px 20px 7px 20px;
    margin: 3px 5px 3px 0px;
    text-align: center;
    border: 2px solid #23B298;
    transition: 0.3s ease;
}
    .user-link:hover {
        color: white;
        background-color: #23B298;
        border: 2px solid darkslategray;
    }